body {
  padding-top:65px;
}

table {
  border: 1px solid lightgrey;
}

.table-header {
  background-color: rgb(231, 231, 230)
}

#new-task {
  float: right;
  margin-top: 12px;
  margin-right: 5px;
}
