<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <span class="navbar-brand active">Ticket Manager</span>
      <button type="button" id="new-task" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">New Task</button>
    </div>
  </nav>
</header>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Task</h4>
      </div>
      <div class="modal-body">
        <p>Form goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>
<div id="modal"></div>
<div id='main-view'></div>