<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <span class="navbar-brand active">Ticket Manager</span>
      <button type="button" id="new-task" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">New Task</button>
    </div>
  </nav>
</header>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Task</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="item_number" class="control-label">Item Number</label>
          <input class="form-control" type="text" id="item_number_input" name="item_number" placeholder="Enter item number...">
          <span class="help-block hidden"></span>
        </div>
        <div class="form-group">
          <label for="location_number" class="control-label">Location Number</label>
          <input class="form-control" type="text" id="location_number_input" name="location_number" placeholder="Enter location number...">
          <span class="help-block hidden"></span>
        </div>
        <div class="form-group">
          <label for="project" class="control-label">Project Type</label>
          <input class="form-control" type="text" id="project_input" name="project" placeholder="Enter project type...">
          <span class="help-block hidden"></span>
        </div>
        <div class="form-group">
          <label for="description" class="control-label">Description</label>
          <input class="form-control" type="text" id="description_input" name="description" placeholder="Enter description...">
          <span class="help-block hidden"></span>
        </div>
        <div class="form-group">
          <label for="priority" class="control-label">Priority</label>
          <input class="form-control" type="text" id="priority_input" name="priority" placeholder="Enter priority...">
          <span class="help-block hidden"></span>
        </div>
        <div class="form-group">
          <label for="requestor" class="control-label">Requestor</label>
          <input class="form-control" type="text" id="requestor_input" name="requestor" placeholder="Enter requestor...">
          <span class="help-block hidden"></span>
        </div>
        <div class="form-group">
          <label for="assigned_to" class="control-label">Assigned To</label>
          <input class="form-control" type="text" id="assigned_to_input" name="assigned_to" placeholder="Enter assignee...">
          <span class="help-block hidden"></span>
        </div>
        <div class="form-group">
          <label for="due_date" class="control-label">Due Date</label>
          <input class="form-control" type="text" id="due_date_input" name="due_date" placeholder="Enter due date...">
          <span class="help-block hidden"></span>
        </div>
        <div class="form-group">
          <label for="notes" class="control-label">Notes</label>
          <input class="form-control" type="text" id="notes_input" name="notes" placeholder="Enter notes...">
          <span class="help-block hidden"></span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="submit-button btn btn-default">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>
<div id="modal"></div>
<div id='main-view'></div>