<div class="panel-heading"></div>
<div class='panel-body container-fluid' id='wrapper'>
  <div class="radio">
    <label class='radio-inline'><input type="radio" name="completed" value=false checked='checked'>Active</label>
    <label class="radio-inline"><input type="radio" name="completed" value=true>Inactive</label>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="table-header">Item Number</th>
        <th class="table-header">Location Number</th>
        <th class="table-header">Project</th>
        <th class="table-header">Description</th>
        <th class="table-header">Priority</th>
        <th class="table-header">Requestor</th>
        <th class="table-header">Assigned To</th>
        <th class="table-header">Due Date</th>
        <th class="table-header">Notes</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>