<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 class="modal-title"><%= description %></h3>
    </div>
    <div class="modal-body">
      <ul>
        <li><strong>Item Number:</strong> <%= item_number %></li>
        <li><strong>Location Number:</strong> <%= location_number %></li>
        <li><strong>Project Type:</strong> <%= project %></li>
        <li><strong>Description:</strong> <%= description %></li>
        <li><strong>Priority:</strong> <%= priority %></li>
        <li><strong>Requestor:</strong> <%= requestor %></li>
        <li><strong>Assigned To:</strong> <%= assigned_to %></li>
        <li><strong>Due Date:</strong> <%= due_date %></li>
        <li><strong>Notes:</strong> <%= notes %></li>
      </ul>
    </div>
    <div id='task-modal-footer' class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>