<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
      <h4 class="modal-title"><%= description %></h4>
    </div>
    <div class="modal-body">
      <ul>
        <li>Item Number: <%= item_number %></li>
        <li>Location Number: <%= location_number %></li>
        <li>Project Type: <%= project %></li>
        <li>Description: <%= description %></li>
        <li>Priority: <%= priority %></li>
        <li>Requestor: <%= requestor %></li>
        <li>Assigned To: <%= assigned_to %></li>
        <li>Due Date: <%= due_date %></li>
        <li>Notes: <%= notes %></li>
      </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="complete-button btn btn-default" data-dismiss="modal">Complete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>